<!DOCTYPE html>
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<html lang="en">
<head>
    <title>Netdata ML App</title>
    <meta name="application-name" content="netdata-mp-app">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <script>var netdataTheme = 'slate';</script>
    <script type="text/javascript" src="http://london.my-netdata.io/dashboard.js"></script>

</head>

<body>
    <div id="content">{% block content %}{% endblock %}</div>
</body>