<html>
<head>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="container">

        <!--Home Button-->
        <a href="/" class="btn btn-info" role="button">Home</a>

        <!--Heading-->
        <h3>Netdata ML App<small class="text-muted">super experimental!</small></h3>

        <!--Results-->
        <h4>
            Results here!
            <br><br>
            {{ host }}
            <br>
            {{ df_shape }}
        </h4>
      
    </div>

</body>
</html>